<a href="https://colab.research.google.com/github/jelaenas/CESISTA-KJ-DSC1107/blob/main/CESISTA%2C_KJ_LAB_FA_2_GROUP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)
data("starwars", package = "dplyr")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.1     ✔ tibble    3.3.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.2
✔ purrr     1.2.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# **Q1 — Dataset Inspection and Missing Values (5 points)**

In [15]:
# Display the structure of the dataset using glimpse(starwars)
glimpse(starwars)

# Identify number of observations and number of variables

n_obs <- nrow(starwars)
n_vars <- ncol(starwars)

cat(sprintf("\nNumber of observations: %d \n", n_obs))
cat(sprintf("\nNumber of variables: %d \n", n_vars))

#Compute the number of missing values in height, mass, and homeworld.
missing_height <- sum(is.na(starwars$height))
missing_mass <-sum(is.na(starwars$mass))
missing_homeworld <-sum(is.na(starwars$homeworld))

cat(sprintf("\nMissing values in height:%d\n", missing_height))
cat(sprintf("\nMissing values in mass:%d\n", missing_mass))
cat(sprintf("\nMissing values in homeworld:%d\n", missing_homeworld))

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"A New Hope", "The Empire Strikes Back", "Return of the J…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…

[1] 87 14

Number of observations: 87

Number of variables: 14

Missing values in height:6

Missing values in mass:28

Missing values in homeworld:10

Missing values in species:4

# **Q2 — Create a Wide Summary Table (pivot_wider) (7 points)**

In [25]:
# Filter the dataset to include only characters with non-missing species.
# Group the data by species and gender.
# Compute the mean height for each group.
starwars_grouped <- starwars %>% drop_na(species) %>%
  group_by(species, gender) %>%
  summarise(
    mean_height = sum(height),
    .groups = 'drop'
  )

# Use pivot_wider() so that: rows represent species, columns represent gender, values are mean height

starwars_wider <- starwars_grouped %>%
  pivot_wider(
    names_from = gender,
    values_from = mean_height
  )

starwars_wider

   species        masculine feminine
1  Aleena          79        NA
2  Besalisk       198        NA
3  Cerean         198        NA
4  Chagrian       196        NA
5  Clawdite        NA       168
6  Droid           NA        96
7  Dug            112        NA
8  Ewok            88        NA
9  Geonosian      183        NA
10 Gungan         626        NA
11 Human           NA        NA
12 Hutt           175        NA
13 Iktotchi       188        NA
14 Kaleesh        216        NA
15 Kaminoan       229       213
16 Kel Dor        188        NA
17 Mirialan        NA       336
18 Mon Calamari   180        NA
19 Muun           191        NA
20 Nautolan       196        NA
21 Neimodian      191        NA
22 Pau'an         206        NA
23 Quermian       264        NA
24 Rodian         173        NA
25 Skakoan        193        NA
26 Sullustan      160        NA
27 Tholothian      NA       184
28 Togruta         NA       178
29 Toong          163        NA
30 Toydarian      137        NA
31 Trandoshan     190        NA
32 Twi'lek        180       178
33 Vulptereen      94        NA
34 Wookiee        462        NA
35 Xexto          122        NA
36 Yoda's species  66        NA
37 Zabrak         346        NA

# **Q3 — Convert Wide Table Back to Long Format (pivot_longer) (6 points)**

In [24]:
# Apply pivot_longer() to convert the gender columns back into: a column named gender, a column named mean_height
starwars_longer <- starwars_wider %>%
  pivot_longer(
    cols = -species, # Columns to pivot
    names_to = "gender",         # Name of the new column for original column names
    values_to = "mean_height"        # Name of the new column for the values
  )  %>% drop_na(mean_height)

  starwars_longer

   species        gender    mean_height
1  Aleena         masculine  79
2  Besalisk       masculine 198
3  Cerean         masculine 198
4  Chagrian       masculine 196
5  Clawdite       feminine  168
6  Droid          feminine   96
7  Dug            masculine 112
8  Ewok           masculine  88
9  Geonosian      masculine 183
10 Gungan         masculine 626
11 Hutt           masculine 175
12 Iktotchi       masculine 188
13 Kaleesh        masculine 216
14 Kaminoan       masculine 229
15 Kaminoan       feminine  213
16 Kel Dor        masculine 188
17 Mirialan       feminine  336
18 Mon Calamari   masculine 180
19 Muun           masculine 191
20 Nautolan       masculine 196
21 Neimodian      masculine 191
22 Pau'an         masculine 206
23 Quermian       masculine 264
24 Rodian         masculine 173
25 Skakoan        masculine 193
26 Sullustan      masculine 160
27 Tholothian     feminine  184
28 Togruta        feminine  178
29 Toong          masculine 163
30 Toydarian      masculine 137
31 Trandoshan     masculine 190
32 Twi'lek        masculine 180
33 Twi'lek        feminine  178
34 Vulptereen     masculine  94
35 Wookiee        masculine 462
36 Xexto          masculine 122
37 Yoda's species masculine  66
38 Zabrak         masculine 346

# **Q4 — Create New Variables and Handle Missing Data (6 points)**

In [36]:
# From the original dataset, create a new variable
# Categorize height into: short (<170 cm), average (170–189 cm), tall (≥190 cm)
#Replace missing homeworld values with "Unknown".

starwars_new <- starwars %>%
  mutate(
    bmi = mass / ((height/100)^2),
    height_category = case_when(
      height < 170 ~ "short",
      height >= 170 & height < 190 ~ "average",
      height >= 190 ~ "tall"
    ),
    homeworld = replace_na(homeworld, "Unknown")
  ) %>%
  relocate(bmi, .after = mass) %>%
  relocate(height_category, .after = height)

#Show glimpse() of the resulting dataset.
glimpse(starwars_new)

missing_homeworld_new <- summissing_homeworld <-sum(is.na(starwars_new$homeworld))
cat(sprintf("\nMissing values in homeworld:%d\n", missing_homeworld_new))

Rows: 87
Columns: 16
$ name            <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Le…
$ height          <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 1…
$ height_category <chr> "average", "short", "short", "tall", "short", "average…
$ mass            <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0…
$ bmi             <dbl> 26.02758, 26.89232, 34.72222, 33.33007, 21.77778, 37.8…
$ hair_color      <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brow…
$ skin_color      <chr> "fair", "gold", "white, blue", "white", "light", "ligh…
$ eye_color       <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "b…
$ birth_year      <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 5…
$ sex             <chr> "male", "none", "none", "male", "female", "male", "fem…
$ gender          <chr> "masculine", "masculine", "masculine", "masculine", "f…
$ homeworld       <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan…
$ species         <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", …
$ films           <list> <"A New Hope", "The Empire Strikes Back", "Return of …
$ vehicles        <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>,…
$ starships       <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced…

Missing values in homeworld:0

# **Q5 — Unnesting and Interpretation (6 points)**

In [39]:
# Select name and films.
# Convert the films list-column into long format.
# Count the number of film appearances per character.
# Display the top 8 characters with the most appearances.

starwars_appearances <- starwars %>%
  select(name, films) %>%
  unnest(films) %>%
  count(name, sort = TRUE) %>%
  slice_head(n = 8)

starwars_appearances

# with films not converted into long format
starwars_appearances_listed <- starwars %>%
  select(name, films) %>%
  count(name, sort = TRUE) %>%
  slice_head(n = 8)

starwars_appearances_listed

  name           n
1 R2-D2          7
2 C-3PO          6
3 Obi-Wan Kenobi 6
4 Chewbacca      5
5 Leia Organa    5
6 Luke Skywalker 5
7 Palpatine      5
8 Yoda           5

  name                n
1 Ackbar              1
2 Adi Gallia          1
3 Anakin Skywalker    1
4 Arvel Crynyd        1
5 Ayla Secura         1
6 BB8                 1
7 Bail Prestor Organa 1
8 Barriss Offee       1

**In 2–3 sentences, explain why this data must be converted to long format.**

The films column is originally in list-column, and as seen in the table below if it is not converted, the films that they are in simply shows as one only. To accurately count how many films each character appears in, it is essential to convert it into long format, as it will cause for the films to appear in separate rows. So, data can then be analyzed accurately, such as counting how many film appearances each character has.